source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake

nuget Fscheck
nuget Fscheck.NUnit

nuget newtonsoft.json

nuget websharper
nuget websharper.ui.next

nuget elmah

nuget suave
nuget funscript
nuget FunScript.TypeScript.Binding.lib
nuget FunScript.TypeScript.Binding.jquery

nuget restsharp

github fsharp/FAKE modules/Octokit/Octokit.fsx
