<h1>Hello, world!</h1>
<div>{{{content}}}</div>
<div id="dynamic"></div>

<script src='http://cdn.ractivejs.org/latest/ractive.min.js'></script>

<script id="template" type="text/ractive">
    <h2>I am here</h2>
</script>

<script type="text/javascript">
{{{page_script}}}
</script>
