type project
owners
    spiffytech
authors 
    spiffytech
projectUrl
    http://github.com/spiffytech/WebMusic
iconUrl
    https://raw.githubusercontent.com/spiffytech/WebMusic/master/docs/files/img/logo.png
licenseUrl
    http://github.com/spiffytech/WebMusic/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    
summary
    A web music player
description
    Description not set


