#react-target {
    background-color: #0D6759;
    /*color: #0B2E59; */
    color: white;
}

#player, #library {
    background-color: #7AB317;
}

#library, #playlist .track {
    border: 0.3em solid #A0C55F;
}

/*
#playlist .track:nth-child(odd) {
    background-color: #7AB317;
}
#playlist .track:nth-child(even) {
    background-color: #A0C55F;
}
*/

#playlist .track {
    display: flex;
    flex-wrap: wrap;
}

#playlist .track-title, #playlist .track-artist, #playlist .track-album {
    flex: 10em;
    padding: 1em;
}

#playlist .current-track {
    font-weight: bold;
}
