#react-target {
    background-color: #0D6759;
    /*color: #0B2E59; */
    color: white;
}

#react-target input {
    color: black;
}

#nav-buttons, #playlist-buttons {
    display: flex;
    justify-content: space-between;
}

#playlist-buttons {
    margin-top: 2em;
}

#player, #library {
    background-color: #7AB317;
}

#player-next-prev-btns {
    display: flex;
    justify-content: space-around;
}
#player-next-prev-btns button {
    width: 5em;
    height: 5em;
}

#library, #playlist .track-container {
    border: 0.3em solid #A0C55F;
}

/*
#playlist .track:nth-child(odd) {
    background-color: #7AB317;
}
#playlist .track:nth-child(even) {
    background-color: #A0C55F;
}
*/

.track-container {
    /* Easy vertical/horizontal centering! */
    display: flex;
    align-items: center;
    justify-content: space-between
}

.track-artist-album {
    display: flex;
    align-items: center;
    justify-content: space-between
}
.track-artist, .track-album {
    /*flex: 1;*/
}

.track-delete-button {
    flex-basis: 0;
    font-size: 250%;
    margin-right: 0.25em;
}

#playlist .track {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-between;
}

#playlist .track-title, #playlist .track-artist, #playlist .track-album {
    padding: 1em;
}

#playlist .current-track {
    font-weight: bold;
}

.item-label {
    display: inline-flex;
    justify-content: space-between;
}
.item-label .item-title {
    flex-basis: 70%;
}
.item-label .item-add-button {
    flex-basis: 30%;
}
